@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic%7CFira+Sans:100,300,400,700');
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf");
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #e7e7e7;
}
ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.nav li {
  border-bottom: 1px solid #242b2e;
}
.nav li a {
  color: #fff;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
}
.nav li a:hover {
  background-color: #27b3b2;
}
.nav li span {
  font-size: 19px;
  line-height: 32px;
  color: #27b3b2;
}
.nav li span:hover {
  background-color: inherit;
}
.nav li span a {
  text-decoration: none;
  padding: 10px;
  color: #27b3b2;
}
.nav li span a:hover {
  background-color: inherit;
}
.nav li .ma-brand {
  background-color: #fff;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.nav li .ma-brand:hover {
  background-color: inherit;
}
.nav .ma-link-home {
  background-color: #30383C;
}
.nav .ma-link-work {
  background-color: #31393C;
}
.nav .ma-link-about {
  background-color: #31393D;
}
.nav .ma-link-blog {
  background-color: #31383c;
}
.nav .ma-link-contact {
  background-color: #31393d;
}
.nav .ma-link-filter {
  border-bottom: none;
}
.ma-submenu,
.ma-social,
.ma-copy {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 15px;
}
.ma-submenu a,
.ma-social a,
.ma-copy a {
  color: #31393d;
}
.ma-submenu a:hover,
.ma-social a:hover,
.ma-copy a:hover {
  color: #FFF;
}
.ma-submenu a img:hover,
.ma-social a img:hover,
.ma-copy a img:hover {
  transform: scale(1.05);
}
.ma-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 0;
}
.ma-menu .ma-navigation {
  height: 100%;
}
#id-map-wrapper {
  padding: 0;
}
#map {
  height: 100vh;
}
.ma-menu-link {
  position: absolute;
  z-index: 5;
  left: 7vw;
  top: 1vh;
  color: #242b2e;
}
.ma-menu-link:focus,
.ma-menu-link:hover {
  color: #31393d;
}
.ma-contact {
  position: absolute;
  z-index: 5;
  left: 10vw;
  width: 40vw;
  background-color: #fff;
}
.ma-contact__title {
  font-size: 1.5em;
  padding: 0 1vw;
}
.ma-contact__text {
  padding: 0 1vw;
}
.ma-contact .ma-content-form {
  padding: 2vw;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  margin-right: 0 !important;
}
.menu .user {
  color: #27b3b2 !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 30px;
}
.menu .user:hover {
  color: white !important;
  background-color: #27b3b2 !important;
}
.menu .context {
  background-color: black;
  color: white;
  width: 210px !important;
  opacity: 0.8;
}
.context li {
  display: inline-block;
}
.context li a.imp {
  display: inline-block !important;
  color: white;
}
.context li a.imp:hover {
  color: black;
}
.gallery {
  padding: 0 !important;
}
.gallery .full_block {
  position: relative;
}
.gallery .full_block:hover .wrapper-image {
  opacity: 0.8;
}
.gallery .full_block:hover .wrapper-image span {
  display: inline-block;
  float: right;
  margin-right: -10px;
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
}
.gallery .full_block p {
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #a3a3a3;
}
.gallery .full_block__carousel-pad {
  margin: -10px;
  font-family: "Roboto-Italic", Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #FFF;
}
.gallery .full_block__carousel-bg {
  background-color: #27b3b2;
  width: 90%;
  height: 100%;
  bottom: 0;
}
.gallery .full_block__carousel-info {
  padding: 20px;
  border: 1px solid #e2e2e2;
}
.gallery .full_block__list li a {
  padding-left: 10px;
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #a3a3a3;
}
.gallery .full_block__list li a:hover {
  color: #27b3b2;
}
.gallery .full_block__layout .wrapper-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: #1ab5b3;
  display: flex;
}
.gallery .full_block__layout .wrapper-image .hover-text {
  color: white;
  text-align: center;
  margin: auto;
}
.gallery .full_block__layout .wrapper-image .hover-text .arrow {
  font-size: 30px !important;
}
.ma-about {
  border: 25px solid #b3b7b8;
  background-color: #FFF;
  padding: 30px;
}
.ma-about__bord-bot {
  border-bottom: 1px solid #e2e2e2;
}
.ma-about__marg-bot {
  position: relative;
  margin-bottom: 10px;
}
.ma-about__l-box {
  border-right: 1px solid #e2e2e2;
}
.ma-about h3 {
  font-family: "Roboto-Thin", Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: black;
}
.ma-about h4 {
  font-family: "Roboto-Thin", Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #727272;
}
.ma-about h4 span {
  display: inline-block;
  float: right;
  margin-right: -10px;
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
}
.ma-about p {
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #a3a3a3;
}
.ma-about__carousel-pad {
  margin: -10px;
  font-family: "Roboto-Italic", Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #FFF;
}
.ma-about__carousel-bg {
  background-color: #27b3b2;
  width: 90%;
  height: 100%;
  bottom: 0;
}
.ma-about__carousel-info {
  padding: 20px;
  border: 1px solid #e2e2e2;
}
.ma-about__list {
  list-style: none;
  padding: 0;
  text-align: left;
}
.ma-about__list li a {
  padding-left: 10px;
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #a3a3a3;
}
.ma-about__list li a:hover {
  color: #27b3b2;
}
.ma-about__layout {
  position: absolute;
  background-color: #27b3b2;
  opacity: 0;
  height: 100%;
  width: 83%;
}
.ma-about__layout:hover {
  opacity: 0.8;
}
.ma-about__layout h6 {
  padding-top: 20px;
  text-align: center;
  font-family: "Roboto-Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
}
.ma-about__layout h6 span {
  font-family: "Roboto-Thin", Arial, sans-serif;
  font-size: 13px;
  line-height: 26px;
  color: #FFF;
}
.glyphicon {
  color: #27b3b2;
}
.glyphicon:hover {
  transform: scale(1.05);
}
.carousel-indicators {
  display: none;
}
.progress-bar {
  background-color: #e2e2e2;
}
.carousel-caption {
  text-align: left;
  padding-left: 30px;
  right: 20%;
  left: 15%;
  padding-bottom: 20px;
}
