* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #e7e7e7;
}
ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.nav li a {
  color: #fff;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
}
.nav li a:hover {
  background-color: #27b3b2;
}
.nav li .ma-brand {
  background-color: #fff;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.nav li .ma-brand:hover {
  background-color: inherit;
}
.ma-submenu,
.ma-social {
  text-decoration: none;
}
.ma-submenu li a,
.ma-social li a {
  color: #31393d;
}
.ma-submenu li a:hover,
.ma-social li a:hover {
  color: #fff;
}
.ma-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 0;
}
.ma-menu .ma-navigation {
  height: 100%;
}
#id-map-wrapper {
  padding: 0;
}
#map {
  height: 100vh;
}
.ma-menu-link {
  position: absolute;
  z-index: 5;
  left: 7vw;
  top: 1vh;
  color: #242b2e;
}
.ma-menu-link:focus,
.ma-menu-link:hover {
  color: #31393d;
}
.ma-contact {
  position: absolute;
  z-index: 5;
  left: 10vw;
  width: 40vw;
  background-color: #fff;
}
.ma-contact__title {
  font-size: 1.5em;
  padding: 0 1vw;
}
.ma-contact__text {
  padding: 0 1vw;
}
.ma-contact .ma-content-form {
  padding: 2vw;
}
