// Fonts
// Variables
@background_color: #e7e7e7;
@grey_color: #b3b7b8;
@light-color: #e2e2e2;
@azure_color: #27b3b2;
@menu_dark: #242b2e;
@menu_light: #31393d;
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Arial", sans-serif;
    background-color: @background_color;
}

ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.nav {
    li {
        a {
            color: #fff;
            padding-top: 3vh;
            padding-bottom: 3vh;
            text-transform: uppercase;
            &:hover {
                background-color: @azure_color;
            }
        }
        .ma-brand {
            background-color: #fff;
            padding-top: 3vh;
            padding-bottom: 3vh;
            &:hover {
                background-color: inherit;
            }
        }
    }
}

.ma-submenu,
.ma-social {
    text-decoration: none;
    li {
        a {
            color: @menu_light;
            &:hover {
                color: #fff;
            }
        }
    }
}

.ma-menu {
    position: absolute;
    top: 0;
    height: 100vh;
    padding: 0;
    .ma-navigation {
        height: 100%;
    }
}

#id-map-wrapper {
    padding: 0;
}

#map {
    height: 100vh;
}

.ma-menu-link {
    position: absolute;
    z-index: 5;
    left: 7vw;
    top: 1vh;
    color: @menu_dark;
    &:focus, &:hover {
        color: @menu_light;
    }
}

.ma-contact {
    position: absolute;
    z-index: 5;
    left: 10vw;
    width: 40vw;
    // height: 40vh;
    background-color: #fff;
    &__title{
        font-size: 1.5em;
        padding:0 1vw;
    }
    &__text{
        padding:0 1vw;

    }
    .ma-content-form{
        padding: 2vw;
    }
}
