    // Fonts
    @import url('https://fonts.googleapis.com/css?family=Carrois+Gothic%7CFira+Sans:100,300,400,700');
    /* font-family: 'Fira Sans',
sans-serif;
font-family: 'Carrois Gothic',
sans-serif; */
    
    @font-face {
        font-family: "Roboto-Bold";
        src: url("../fonts/Roboto-Bold.ttf");
    }
    
    @font-face {
        font-family: "Roboto-Italic";
        src: url("../fonts/Roboto-Italic.ttf");
    }
    
    @font-face {
        font-family: "Roboto-Light";
        src: url("../fonts/Roboto-Light.ttf");
    }
    
    @font-face {
        font-family: "Roboto-Thin";
        src: url("../fonts/Roboto-Thin.ttf");
    }
    
    // Variables
    @grey_color: #b3b7b8;
    @text-grey-color: #a3a3a3;
    @light-color: #e2e2e2;
    @azure_color: #27b3b2;
    .transition() {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    * {
        .transition
    } //using the mixin
    html,
    body {
        height: 100%;
        font-family: "Arial", sans-serif;
        background-color: white;
    }
    
    .ma-about {
        border: 25px solid @grey_color;
        padding: 30px;
        &__bord-bot {
            border-bottom: 1px solid @light-color;
        }
        &__marg-bot {
            position: relative;
            margin-bottom: 10px;
        }
        &__l-box {
            border-right: 1px solid @light-color;
        }
        & h3 {
            font-family: "Roboto-Thin", Arial, sans-serif;
            font-size: 24px;
            line-height: 26px;
            color: black;
        }
        & h4 {
            font-family: "Roboto-Thin", Arial, sans-serif;
            font-size: 15px;
            line-height: 26px;
            color: #727272;
        }
        h5 {
            display: inline-block;
            float: right;
            font-family: "Roboto-Light", Arial, sans-serif;
            font-size: 14px;
            line-height: 26px;
            color: black;
        }
        & p {
            font-family: "Roboto-Light", Arial, sans-serif;
            font-size: 18px;
            line-height: 30px;
            color: @text-grey-color;
        }
        &__carousel {
            &-pad {
                margin: -10px;
                font-family: "Roboto-Italic", Arial, sans-serif;
                font-size: 15px;
                line-height: 26px;
                color: #FFF;
            }
            &-bg {
                background-color: @azure_color;
                width: 80%;
            }
            &-info {
                padding: 20px;
                border: 1px solid @light-color;
            }
        }
        &__list li a {
            font-family: "Roboto-Light", Arial, sans-serif;
            font-size: 14px;
            line-height: 28px;
            color: @text-grey-color;
            &:hover {
                color: @azure_color;
            }
        }
        &__layout {
            position: absolute;
            background-color: @azure_color;
            opacity: 0;
            height: 100%;
            width: 83%;
            &:hover {
                opacity: 0.8;
            }
            & h6 {
                padding-top: 20px;
                text-align: center;
                font-family: "Roboto-Bold", Arial, sans-serif;
                font-size: 16px;
                line-height: 26px;
                color: #FFF;
                & span {
                    font-family: "Roboto-Thin", Arial, sans-serif;
                    font-size: 13px;
                    line-height: 26px;
                    color: #FFF;
                }
            }
        }
    }
    
    .carousel-indicators {
        display: none;
    }
    
    .progress-bar {
        background-color: @light-color;
    }
